html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
.body{
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    margin-top: 32px;
}
.page-header {
    width: 1180px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.header-first-row {
    padding-bottom: 32px;
    border-bottom: 1px solid gray;
}
.company-logo {
    margin: 0%;
    padding: 0%;
    margin-right: 520px;
    display: inline-block;
}
.contact-container span{
    font-size: 14;
    font-weight: 400;
    line-height: 17px;
    display: block;
    letter-spacing: 0;
}
.contact-container a{
    color: #607ce6;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
}
.mail-container {
    text-align: right;
    display: inline-block;
    margin-right: 12px;
    width: 280px;
}
.phone-container {
    text-align: right;
    display: inline-block;
    width: 180px;
}
.phone-container a{
    text-decoration: none;
}

.header-second-row {
    padding-top: 16px ;
}
/* nav */
.header-nav {
    display: inline-block;
}
.header-nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-nav-links__item {
    display: inline-block;
    margin-right: 44px;
}
.header-nav-links__item:last-child{
    margin-right:50px;
}
.header-nav-links__link {
    text-decoration: none;
    color: #333;
}
.header-nav-links__item:hover{
    opacity: 0.6;
}
.no-right-margin {
}
.call-me{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #607ce6;
    text-align: left;
    letter-spacing: 0px;
    
}
.call-me:hover{
    opacity: 0.6;
}
.call-me-image:hover {
    width: 16px;
    height: 16px;
    display: inline-block;
}
/* main */

.content {
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
}
.hero {
    margin-bottom: 80px;
}
.hero-title {
    width: 580px;

    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: #333;
    text-align: left;

    margin:0;
    padding: 0;
    margin-bottom: 32px;
    margin-right: 20px;

    display: inline-block;
}
.hero-promo {
    width: 379px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    text-align: left;

    margin: 0;
    padding: 0;
    margin-bottom: 56px;

    display:inline-block
}
.hero-image {
    width: 1180px;
}

/* about */

.about {
    margin-bottom: 80px;
}
.about-title {
    width: 340px;
    margin-bottom: 32px;

    font-size: 48px;
    font-weight: 700px;
    line-height: 58px;
}

.about-text {
    width: 580px;
    max-height: 110px;
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0
    
}
.about-image {
    width: 580px;
    margin-top: 8px;
}

.products {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.products h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;
    margin-bottom: 32px;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
}
.products-card {
    width: 380px;
    height: 435px;
    background-color: #f5f5f5;
}
.products-card:hover{
    border: #607ce6 solid 1px;
}
.card-image {
    width: 200px;
    margin-left: 24px;
    margin-top: 32px;
    margin-right: 156px;
}
.ci1{
    height: 194px;
    margin-bottom: 107px;
}
.ci2{
    height: 112px;
    margin-bottom:187px;
}
.ci3{
    height: 158px;
    margin-bottom:143px;
}
.ci4{
    height: 149px;
    margin-bottom:152px;
}
.ci5{
    height: 141px;
    margin-bottom:160px;
}
.ci6{
    height: 138px;
    margin-bottom:163px;
}

.card-name {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-top:0px;
}
.card-link {
    color: #607ce6;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin-left: 24px;
    margin-bottom: 32px;
}
.card-link:hover{
    cursor: pointer;
}
.card-link-image{
    margin-left: 8px;
}

.news{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.news-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 32px;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;

}
.news1 {
    background-color: #f5f5f5;
    width: 380px;
    height: 478px;
}
.news2 {
    background-color: #f5f5f5;
    width: 380px;
    height: 478px;
}
.news3 {
    background-color: #f5f5f5;
    width: 380px;
    height: 478px;
}
.news-image {
    margin-bottom: 16px;
}
.news-desc{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    margin-left: 16px;
    margin-right: 16px;

}
.read-more {
    margin-bottom:25px;
    display: flex;
    align-items: flex-end;
}

.read-more-button {
    color: #607ce6;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-decoration: none;
    margin-right:183px;
    margin-left: 16px;
    
}

.date-of-publication {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color:gray
}
