html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
.body{
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    margin-top: 32px;
}
.page-header {
    width: 1180px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.header-first-row {
    padding-bottom: 32px;
    border-bottom: 1px solid gray;
}
.company-logo {
    margin: 0%;
    padding: 0%;
    margin-right: 520px;
    display: inline-block;
}
.contact-container span{
    font-size: 14;
    font-weight: 400;
    line-height: 17px;
    display: block;
    letter-spacing: 0;
}
.contact-container a{
    color: #607ce6;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 28px;
}
.mail-container {
    text-align: right;
    display: inline-block;
    margin-right: 12px;
    width: 280px;
}
.phone-container {
    text-align: right;
    display: inline-block;
    width: 180px;
}
.phone-container a{
    text-decoration: none;
}

.header-second-row {
    padding-top: 16px ;
}
/* nav */
.header-nav {
    display: inline-block;
}
.header-nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-nav-links__item {
    display: inline-block;
    margin-right: 44px;
}
.header-nav-links__item:last-child{
    margin-right:50px;
}
.header-nav-links__link {
    text-decoration: none;
    color: #333;
}
.header-nav-links__item:hover{
    opacity: 0.6;
}
.no-right-margin {
}
.call-me{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #607ce6;
    text-align: left;
    letter-spacing: 0px;
    
}
.call-me:hover{
    opacity: 0.6;
}
.call-me-image:hover {
    width: 16px;
    height: 16px;
    display: inline-block;
}
/* main */

.content {
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
}
.hero {
    margin-bottom: 80px;
}
.hero-title {
    width: 580px;

    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: #333;
    text-align: left;

    margin:0;
    padding: 0;
    margin-bottom: 32px;
    margin-right: 20px;

    display: inline-block;
}
.hero-promo {
    width: 379px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    text-align: left;

    margin: 0;
    padding: 0;
    margin-bottom: 56px;

    display:inline-block
}
.hero-image {
    width: 1180px;
}

/* about */

.about {
    margin-bottom: 80px;
}
.about-title {
    width: 340px;
    margin-bottom: 32px;

    font-size: 48px;
    font-weight: 700px;
    line-height: 58px;
}

.about-text {
    width: 580px;
    max-height: 110px;
    display: inline-block;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0
    
}
.about-image {
    width: 580px;
    margin-top: 8px;
}